{{- if and .Values.agent.enabled .Values.agent.rbac.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubeadapt.name" . }}-agent
  labels:
    {{- include "kubeadapt.labels" . | nindent 4 }}
    app.kubernetes.io/component: agent
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "kubeadapt.name" . }}-agent
  labels:
    {{- include "kubeadapt.labels" . | nindent 4 }}
    app.kubernetes.io/component: agent
rules: []
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "kubeadapt.name" . }}-agent
  labels:
    {{- include "kubeadapt.labels" . | nindent 4 }}
    app.kubernetes.io/component: agent
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "kubeadapt.name" . }}-agent
subjects:
  - kind: ServiceAccount
    name: {{ include "kubeadapt.name" . }}-agent
    namespace: {{ .Release.Namespace }}
{{- end }} 