## Reference: https://github.com/pascalgn/size-label-action
name: 'PR Labeling'

on: 
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: read
  pull-requests: write

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        with:
          app-id: ${{ secrets.HELM_BOT_APP_ID }}
          private-key: ${{ secrets.HELM_BOT_PRIVATE_KEY }}

      - name: Label PR
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
        with:
          configuration-path: ".github/configs/labeler.yaml"
          repo-token: ${{ steps.app-token.outputs.token }}
          sync-labels: true

  size-label:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        with:
          app-id: ${{ secrets.HELM_BOT_APP_ID }}
          private-key: ${{ secrets.HELM_BOT_PRIVATE_KEY }}

      - name: Add size label
        uses: pascalgn/size-label-action@f8edde36b3be04b4f65dcfead05dc8691b374348 # v0.5.5
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          IGNORED: >
            .*\.lock$|
            ^\.github/CODEOWNERS$|
            ^\.gitignore$|
            \.md$|
            ^charts/.*/charts/|
            ^LICENSE$
        with:
          sizes: >
            {
              "0": "XS",
              "20": "S",
              "50": "M",
              "200": "L",
              "800": "XL"
            }
